<%- include('header') -%>
<title>401 Unauthorized</title>
<link rel="stylesheet" href="css/error.css">

<div class="container-error">
    <div class="text-section">
        <h1>401 - Unauthorized</h1>
        <p>Sorry, you are not authorized to access this page. Please log in to continue.</p>
        <a href="/login" class="btn">Go to Login</a>
    </div>
    <div class="image-section"></div>
</div>

<%- include('footer') -%>