<%- include('header') -%>
    <title>403 Access Denied</title>
    <link rel="stylesheet" href="css/error.css">
    
    <div class="container-error">
        <div class="text-section">
            <h1>403 - Access Denied</h1>
            <p>You do not have permission to access this page.</p>
            <a href="/" class="btn">Go to Home</a>
        </div>
        <div class="image-section"></div>
    </div>

<%- include('footer') -%>
