    <script src="js/script.js"></script>
    <!-- Footer -->
    <footer class="bg-dark text-white mt-4">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-3">
                    <h3>MentalMed</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Our Programs</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Our Services</h3>
                    <ul>
                        <li><a href="#">Online Therapy</a></li>
                        <li><a href="#">In-Person Therapy</a></li>
                        <li><a href="#">Wellness Program</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Newsletter</h3>
                    <p>Stay updated on the latest mental health tips and resources.</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Your email address">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="button">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <div class="copyright">
        &copy; 2024 MentalMed. All rights reserved.
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>


</body>
</html>
