<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentalMed - Comprehensive Mental Health Services</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-admin-dashboard.css">

</head>
<body>

    <header>
        <div class="logo">MentalMed</div>
        <input type="checkbox" id="menu-toggle" class="menu-checkbox">
        <label for="menu-toggle" class="menu-toggle">
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li class="dropdown">
                    <a href="#">Services</a>
                    <ul class="dropdown-content">
                        <li><a href="/therapygroups">Therapy Sessions</a></li>
                        <li><a href="/supportgroups">Counseling Services</a></li>
                        <li><a href="/self_assessment">Mental Health Assessment</a></li>
                        <li><a href="/book_appointment">Doctor Consultation</a></li>
                    </ul>
                </li>
                <li><a href="/self_assessment">Self Assessment</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact">Contact</a></li>
        
                <% if (user) { %> 
                    <% if (user.role === 'admin') { %>
                        <li><a href="/admin_dashboard">Admin Dashboard</a></li>
                    <% } else if (user.role === 'patient') { %>
                        <li><a href="/patientDashboard">Patient Dashboard</a></li>
                    <% } else if (user.role === 'doctor') { %>
                        <li><a href="/doctorDashboard">Doctor Dashboard</a></li>
                    <% } %>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </nav>
        
        
        
    </header>