<%- include('header') -%>
    <title>Self Assessment</title>
 

        <!-- Self-Assessment Section -->
        <section class="content">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Text Content (Left) -->
                    <div class="col-md-7">
                        <div class="text-content">
                            <h2 class="text-center">MentalMed Self-Assessment</h2>
                            <p>
                                Self-assessment is an integral part of the services provided by MentalMed. It empowers you to take an active role in your mental health journey, helping you identify unique challenges, triggers, and personal goals.
                            </p>
                            <p>
                                This process enhances your self-awareness and allows our mental health professionals to offer tailored care. At MentalMed, self-assessment is the foundation of personalized therapy, fostering a collaborative and effective approach to mental health support.
                            </p>
                            <p class="text-center">
                                <strong>Ready to begin your journey to well-being?</strong> <a href="self_assessmentquiz" class="cta-link">Click here</a> to start your self-assessment today.
                            </p>
                        </div>
                    </div>

                    <!-- Image (Right) -->
                    <div class="col-md-5 text-right">
                        <img src="images/selfassessment.jpg" alt="MentalMed platform overview" class="content-image img-fluid" style="max-width: 100%; width: 300px; height: auto;">
                    </div>

                </div>
            </div>
        </section>


<%- include('footer') -%>